
.flex{
    display: flex;
}

.container{
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
}

.area-margin{
    margin-bottom: 12px;
}

.row-margin{
    margin-bottom: 2px;
}

.side-menu{
    border-right: solid 1px #f5f5f5;
}