
// common style
.flex{
    display: flex;
}

.container{
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
}

// component-area style
.side-menu{
    border-right: solid 1px #f5f5f5;
}

// component-style
.post-reply-replyed{
    border-bottom: solid 1px#f5f5f5; 
}


// util style
.area-margin{
    margin-bottom: 12px;
}

.row-margin{
    margin-bottom: 2px;
}